.nav-link{
  font-size: 20px;
  transition: 0.2s;
  border:solid 2px ;
  border-radius: 20px;
  margin-right: 10px;
}
.nav-link:hover{
    color: green !important;

}
@media (max-width: 767px){
  .nav-link{
    margin-top: 10px;
  }

}
/* 
@media (max-width: 767px) {
    .mb-sm-2 {
      margin-bottom: 0.5rem !important;
    }
  } */

